body{
  background: url(tiktok-logo.jpg);
}

main{
  background-color: black;
  width: 80%;
  padding: 25px;
  margin: auto;
}

footer {
  background-color: black;
  padding-top: 25px;
  text-align: center;
}

h1{
  text-align: center;
  font-size: 70px;
  padding: 30px;
}

h2{
  color: white !important;
}

p{
  color: white;
}

#bekezdes{
  font-size: 28px;
}

#dolt{
  font-style: italic;
}

#szines{
  color: #ff0050;
}

#cim1{
  color: white;
  border-left: 10px solid #00f2ea;
  border-top: 10px solid #00f2ea;
  border-right: 10px solid #ff0050;
  border-bottom: 10px solid #ff0050;
  margin: 5px;
}

#app {
  max-height: 50vh;
  display: block;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

td {
  vertical-align: middle;
  text-align: center;
}

th {
  text-align: center;
}

li {
  color: white;
}

.card {
  height: 100%;
  margin-bottom: 30px;
}

.oszlop {
  margin-bottom: 15px;
}

#html_icon {
  width: 50px;
}